main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: inherit;
    background: linear-gradient(135deg,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: relative;
}
header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.header-logo {

    svg {
        max-width: 320px;
        max-height: 100px;
    }
}

.content {
    width: 1292px;
    padding: 1rem 0;
    max-width: calc(100% - 40px);
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}